@Scripts.Render("~/bundles/bootbox")
<script src="~/Content/assets/js/jquery-ui-1.10.3.full.min.js"></script>
<link href="~/Content/assets/css/jquery-ui-1.10.3.full.min.css" rel="stylesheet" />
<div class="row">
    <div class="col-xs-12">
        <div class="widget-box">
            <div class="widget-header widget-header-small">
                <h5 class="lighter">选择表单</h5>
            </div>
            <div class="widget-body">
                <div class="widget-main">
                    <form class="form-horizontal" id="form_formCopy">
                        <div class="row">
                            <div class="form-group">
                                <label class="control-label col-xs-12 col-sm-1">表单</label>
                                <div class="col-xs-12 col-sm-6">
                                    <select class="form-control" multiple="multiple" id="productCode" name="productCode"></select>
                                </div>

                                <div class="col-xs-12 col-sm-1">
                                    <button class="btn btn-purple" type="button" id="deleteDForm">删除表单</button>
                                </div>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>

<div class="row" id="DFormInfo" style="display:none">
    <input type="hidden" id="formBuilderID" value="" />
    <div class="col-xs-12">
        <div class="widget-box">
            <div class="widget-header widget-header-small">
                <h5 class="lighter">配置子表单</h5>
                <button class="btn btn-purple" id="add_DFormInfo_btn" disabled="disabled" style="float:right">添加子表单</button>
            </div>
            <div class="widget-body">
                <div class="widget-main">
                    <div class="table-responsive">
                        <table id="formInfo_table" class="table table-striped table-hover">
                            <thead>
                                <tr>
                                    <th>名称</th>
                                    <th>是否只读</th>
                                    <th>编辑URL</th>
                                    <th>读取URL</th>
                                    <th>排序</th>
                                    <th>是否有添加窗口</th>
                                    <th>添加窗口关键字</th>
                                    <th>操作</th>
                                </tr>
                            </thead>
                            <tbody id="formInfo_table_body"></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row" id="DFormField" style="display:none">
    <input type="hidden" id="formInfoID" value="" />
    <div class="col-xs-12">
        <div class="widget-box">
            <div class="widget-header widget-header-small">
                <h5 class="lighter">配置字段</h5>
                <button class="btn btn-purple" id="add_DFormField_btn" style="float:right">添加字段</button>
            </div>
            <div class="widget-body">
                <div class="widget-main">
                    <div class="table-responsive">
                        <table id="formField_table" class="table table-striped table-hover">
                            <thead>
                                <tr>
                                    <th>字段主键</th>
                                    <th>字段显示名</th>
                                    <th>字段类型</th>
                                    <th>字段占用列数</th>
                                    <th>匹配的表格</th>
                                    <th>匹配表格的字段</th>
                                    <th>分组</th>
                                    <th>字段排序</th>
                                    <th>是否必填</th>
                                    <th>操作</th>
                                </tr>
                            </thead>
                            <tbody id="formField_table_body"></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel">Modal title</h4>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(function () {

        //加载产品列表
        LoadProductList();

        //删除表单
        $('#deleteDForm').click(function () {
            var productId = $('#productCode').val();
            if (productId != '' && productId != null) {
                bootbox.confirm('确定要删除表单吗？', function (result) {
                    if (result) {
                        $.ajax({
                            url: '/SystemConfig/DeleteDFormBuilder',
                            type: 'post',
                            data: 'id=' + productId,
                            success: function (msg) {
                                $('#DFormInfo').slideUp();
                                $('#DFormField').slideUp();
                                window.location.reload();
                                //bootbox.alert(msg);
                            }
                        });
                    }
                });
            } else {
                bootbox.alert('请选择要删除的表单！');
            }
        });

        //添加表单字段
        $('#add_DFormField_btn').click(function () {
            $.ajax({
                url: '/SystemConfig/AddDFormField',
                type: 'post',
                dataType: 'json',
                data: 'formInfoID=' + $('#formInfoID').val(),
                success: function (result) {
                    if (result != null) {
                        EditDFormField(result.ID, result.FORMINFO_ID);
                    }
                }
            });
        });

        

        //加载FormInfo信息
        $('#productCode').change(function () {
            var param = 'FB_ID=' + $(this).val();
            $.ajax({
                url: '/SystemConfig/GetDFormInfoList',
                type: 'post',
                dataType: 'json',
                data: param,
                success: function (result) {
                    var infoBody = $('#formInfo_table_body');
                    infoBody.empty();
                    $(result).each(function (index, item) {
                        var tr = $('<tr></tr>').appendTo(infoBody);
                        $('<td>' + item.NAME + '</td>').appendTo(tr);
                        $('<td>' + item.READONLY + '</td>').appendTo(tr);
                        $('<td>' + (item.ACTION_EDIT == null ? '' : item.ACTION_EDIT) + '</td>').appendTo(tr);
                        $('<td>' + (item.ACTION_READ == null ? '' : item.ACTION_READ) + '</td>').appendTo(tr);
                        $('<td>' + item.Sort + '</td>').appendTo(tr);
                        $('<td>' + (item.ADDMORE == null ? '' : item.ADDMORE) + '</td>').appendTo(tr);
                        $('<td>' + (item.ADDMOREKEYWORD == null ? '' : item.ADDMOREKEYWORD) + '</td>').appendTo(tr);
                        $('<td><div class="visible-md visible-lg hidden-sm hidden-xs action-buttons"><a class="blue" href="javascript:void(0);" style="display:none" title="编辑" data-toggle="modal" data-target="#myModal"><i class="icon-edit bigger-130"></i></a><a class="green" href="javascript:void(0);" onclick="LoadDFormField(' + item.ID + ');" title="配置子表单字段"><i class="icon-cogs bigger-130"></i></a><a class="red" href="javascript:void(0);" style="display:none" title="删除"><i class="icon-trash bigger-130"></i></a></div></td>').appendTo(tr);
                    });
                    //显示
                    $('#DFormInfo').slideDown();
                    //隐藏
                    $('#DFormField').slideUp();
                }
            });
        });

    });

    //加载FormField信息
    var LoadDFormField = function (infoID) {
        $('#formInfoID').val(infoID);
        $.ajax({
            url: '/SystemConfig/GetDFormFieldList',
            type: 'post',
            dataType: 'json',
            data: 'formInfoID=' + infoID,
            success: function (result) {
                var fieldBody = $('#formField_table_body');
                fieldBody.empty();
                $(result).each(function (index, item) {
                    var tr = $('<tr></tr>').appendTo(fieldBody);
                    $('<td>' + item.FIELD_KEY + '</td>').appendTo(tr);
                    $('<td>' + item.FIELD_DISPLAYNAME + '</td>').appendTo(tr);
                    $('<td>' + item.FIELD_TYPE + '</td>').appendTo(tr);
                    $('<td>' + item.FIELD_ROWSPAN + '</td>').appendTo(tr);
                    $('<td>' + item.MAPPER_TABLE + '</td>').appendTo(tr);
                    $('<td>' + item.MAPPER_TABLEFIELD + '</td>').appendTo(tr);
                    $('<td>' + item.FIELD_GROUP + '</td>').appendTo(tr);
                    $('<td>' + item.FIELD_SORT + '</td>').appendTo(tr);
                    $('<td>' + item.FIELD_REQUIRED + '</td>').appendTo(tr);
                    $('<td><div class="visible-md visible-lg hidden-sm hidden-xs action-buttons"><a class="blue" href="javascript:void(0);" onclick="EditDFormField(' + item.ID + ',' + item.FORMINFO_ID + ');" title="编辑"><i class="icon-edit bigger-130"></i></a><a class="red" href="javascript:void(0);" onclick="DeleteDFormField(' + item.ID + ',' + item.FORMINFO_ID + ');" title="删除"><i class="icon-trash bigger-130"></i></a></div></td>').appendTo(tr);
                });
                //显示
                $('#DFormField').slideDown(500);
            }
        });
        return false;
    };

    //编辑DFormField
    var EditDFormField = function (fieldID, infoID) {
        //override dialog's title function to allow for HTML titles
        $.widget("ui.dialog", $.extend({}, $.ui.dialog.prototype, {
            _title: function (title) {
                var $title = this.options.title || '&nbsp;'
                if (("title_html" in this.options) && this.options.title_html == true)
                    title.html($title);
                else title.text($title);
            }
        }));
        $("#editField_iframe").attr("src", "/SystemConfig/DFormFieldEdit?id=" + fieldID);
        jQuery('#editField_dialog').dialog({
            title: "<h4 class='smaller'><i class='icon-edit'></i> 动态表单字段配置</h4>",
            title_html: true,
            resizable: false,
            width: "70%",
            modal: true,
            draggable: false,
            close: function (event, ui) {
                LoadDFormField(infoID);
            }
        });

    };

    //删除DFormField以及相应的属性(DFormAttr)
    var DeleteDFormField = function (fieldID, infoID) {
        //提示
        bootbox.confirm("确定要删除吗？（注意：此操作将会删除本条数据以及相关的属性信息）", function (result) {
            if (result) {
                $.ajax({
                    url: '/SystemConfig/DeleteDFormField',
                    type: 'post',
                    data: 'id=' + fieldID,
                    success: function (result) {
                        LoadDFormField(infoID);
                    }
                });
            }
        });

    };

    //加载产品列表
    var LoadProductList = function () {

        $.getJSON('/SystemConfig/GetDFormBuilderList', function (result) {
            var productCode = $('#productCode');
            $(result.formBuilderList).each(function (index, item) {
                if (item.VERSION == result.dicVers[item.CODE]) {
                    $(productCode).append('<option value="' + item.ID + '">' + item.NAME + '_' + item.CODE + '_' + item.VERSION + '（使用中）</option>');
                } else {
                    $(productCode).append('<option value="' + item.ID + '">' + item.NAME + '_' + item.CODE + '_' + item.VERSION + '</option>');
                }

            });

        });
    };

    function CloseDialog() {
        jQuery('#editField_dialog').dialog("close");
    }
</script>

<div id="editField_dialog" style="display:none;height:500px">
    <iframe id="editField_iframe" style="border: none; width: 100%; height: 500px;"></iframe>
</div>