@Scripts.Render("~/bundles/bootbox")
<div class="row">
    <div class="col-xs-12">
        <div class="widget-box">
            <div class="widget-header widget-header-small">
                <h5 class="lighter">强制登出所有用户</h5>
            </div>

            <div class="widget-body">
                <div class="widget-main">
                    <form class="form-search">
                        <div class="row">
                            <div class="col-xs-12 col-sm-8">
                                <div class="input-group">

                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-purple btn-sm" onclick="clearCache();">发送消息30秒后强制登出用户</button>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>

<div class="row">
    <div class="col-xs-12">
        <div class="widget-box">
            <div class="widget-header widget-header-small">
                <h5 class="lighter">推送消息</h5>
            </div>

            <div class="widget-body">
                <div class="widget-main">
                    <form class="form-search">
                        <div class="row">
                            <div class="col-xs-12 col-sm-8">
                                <div class="input-group">
                                    
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>