<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration"/>
  </configSections>
  <unity>
    <alias alias="IQFUserService" type="QK.QAPP.IServices.IQFUserService,QK.QAPP.IServices" />
    <alias alias="QFUserService" type="QK.QAPP.Services.QFUserService,QK.QAPP.Services" />
    <!-- QF UploadFile Helper-->
    <alias alias="IQFUploadService" type="QK.QAPP.IServices.IQFUploadService,QK.QAPP.IServices" />
    <alias alias="QFUploadService" type="QK.QAPP.Services.QFUploadService,QK.QAPP.Services" />
    <!-- DICT -->
    <alias alias="ICR_DATA_DICService" type="QK.QAPP.IServices.ICR_DATA_DICService,QK.QAPP.IServices" />
    <alias alias="CR_DATA_DICService" type="QK.QAPP.Services.CR_DATA_DICService,QK.QAPP.Services" />
    <!-- 用户选择器 -->
    <alias alias="IStaffPickService" type="QK.QAPP.IServices.IStaffPickService,QK.QAPP.IServices" />
    <alias alias="StaffPickService" type="QK.QAPP.Services.StaffPickService,QK.QAPP.Services" />
    <!-- QF ProductInfo Helper -->
    <alias alias="IQFProductInfoService" type="QK.QAPP.IServices.IQFProductInfoService,QK.QAPP.IServices" />
    <alias alias="QFProductInfoService" type="QK.QAPP.Services.QFProductInfoService,QK.QAPP.Services" />
    <!-- 申请流水号 -->
    <alias alias="IAPP_APPLY_SEQUENCEService" type="QK.QAPP.IServices.IAPP_APPLY_SEQUENCEService,QK.QAPP.IServices" />
    <alias alias="APP_APPLY_SEQUENCEService" type="QK.QAPP.Services.APP_APPLY_SEQUENCEService,QK.QAPP.Services" />

    <!-- 申请流水号 -->
    <alias alias="IApplicationService" type="QK.QAPP.IServices.IApplicationService,QK.QAPP.IServices" />
    <alias alias="ApplicationService" type="QK.QAPP.Services.ApplicationService,QK.QAPP.Services" />

    <!--申请表管理-->
    <alias alias="IApplyTableService" type="QK.QAPP.IServices.IApplyTableService,QK.QAPP.IServices" />
    <alias alias="ApplyTableService" type="QK.QAPP.Services.ApplyTableService,QK.QAPP.Services" />

    <!-- APP_Queue_Log-->
    <alias alias="IAPPQueueLogService" type="QK.QAPP.IServices.IAPPQueueLogService,QK.QAPP.IServices" />
    <alias alias="APPQueueLogService" type="QK.QAPP.Services.APPQueueLogService,QK.QAPP.Services" />

    <!--银行信息-->
    <alias alias="IAPP_BANKSERVICE" type="QK.QAPP.IServices.IAPP_BANKSERVICE,QK.QAPP.IServices" />
    <alias alias="APP_BANKSERVICE" type="QK.QAPP.Services.APP_BANKSERVICE,QK.QAPP.Services" />

    
	
	
		<alias alias="IAPP_AEOSERVICE" type="QK.QAPP.IServices.IAPP_AEOSERVICE,QK.QAPP.IServices" />
	  <alias alias="APP_AEOSERVICE" type="QK.QAPP.Services.APP_AEOSERVICE,QK.QAPP.Services" />
	
	
		<alias alias="IAPP_APPLY_SEQUENCESERVICE" type="QK.QAPP.IServices.IAPP_APPLY_SEQUENCESERVICE,QK.QAPP.IServices" />
	  <alias alias="APP_APPLY_SEQUENCESERVICE" type="QK.QAPP.Services.APP_APPLY_SEQUENCESERVICE,QK.QAPP.Services" />
	
	
		<alias alias="IAPP_AUTHSERVICE" type="QK.QAPP.IServices.IAPP_AUTHSERVICE,QK.QAPP.IServices" />
	  <alias alias="APP_AUTHSERVICE" type="QK.QAPP.Services.APP_AUTHSERVICE,QK.QAPP.Services" />
	
	
		<alias alias="IAPP_BANKCARDSERVICE" type="QK.QAPP.IServices.IAPP_BANKCARDSERVICE,QK.QAPP.IServices" />
	  <alias alias="APP_BANKCARDSERVICE" type="QK.QAPP.Services.APP_BANKCARDSERVICE,QK.QAPP.Services" />
	
	
		<alias alias="IAPP_CARAGENCYSERVICE" type="QK.QAPP.IServices.IAPP_CARAGENCYSERVICE,QK.QAPP.IServices" />
	  <alias alias="APP_CARAGENCYSERVICE" type="QK.QAPP.Services.APP_CARAGENCYSERVICE,QK.QAPP.Services" />
	
	
		<alias alias="IAPP_CARINFOSERVICE" type="QK.QAPP.IServices.IAPP_CARINFOSERVICE,QK.QAPP.IServices" />
	  <alias alias="APP_CARINFOSERVICE" type="QK.QAPP.Services.APP_CARINFOSERVICE,QK.QAPP.Services" />
	
	
		<alias alias="IAPP_CARPRICESERVICE" type="QK.QAPP.IServices.IAPP_CARPRICESERVICE,QK.QAPP.IServices" />
	  <alias alias="APP_CARPRICESERVICE" type="QK.QAPP.Services.APP_CARPRICESERVICE,QK.QAPP.Services" />
	
	
		<alias alias="IAPP_CARVALUATORSSERVICE" type="QK.QAPP.IServices.IAPP_CARVALUATORSSERVICE,QK.QAPP.IServices" />
	  <alias alias="APP_CARVALUATORSSERVICE" type="QK.QAPP.Services.APP_CARVALUATORSSERVICE,QK.QAPP.Services" />
	
	
		<alias alias="IAPP_CITYSERVICE" type="QK.QAPP.IServices.IAPP_CITYSERVICE,QK.QAPP.IServices" />
	  <alias alias="APP_CITYSERVICE" type="QK.QAPP.Services.APP_CITYSERVICE,QK.QAPP.Services" />
	
	
		<alias alias="IAPP_CONTACTSERVICE" type="QK.QAPP.IServices.IAPP_CONTACTSERVICE,QK.QAPP.IServices" />
	  <alias alias="APP_CONTACTSERVICE" type="QK.QAPP.Services.APP_CONTACTSERVICE,QK.QAPP.Services" />
	
	
		<alias alias="IAPP_CUSTOMERSERVICE" type="QK.QAPP.IServices.IAPP_CUSTOMERSERVICE,QK.QAPP.IServices" />
	  <alias alias="APP_CUSTOMERSERVICE" type="QK.QAPP.Services.APP_CUSTOMERSERVICE,QK.QAPP.Services" />
	
	
		<alias alias="IAPP_DFORM_FIELDATTRIBUTESERVICE" type="QK.QAPP.IServices.IAPP_DFORM_FIELDATTRIBUTESERVICE,QK.QAPP.IServices" />
	  <alias alias="APP_DFORM_FIELDATTRIBUTESERVICE" type="QK.QAPP.Services.APP_DFORM_FIELDATTRIBUTESERVICE,QK.QAPP.Services" />
	
	
		<alias alias="IAPP_DFORM_FORMBUILDERSERVICE" type="QK.QAPP.IServices.IAPP_DFORM_FORMBUILDERSERVICE,QK.QAPP.IServices" />
	  <alias alias="APP_DFORM_FORMBUILDERSERVICE" type="QK.QAPP.Services.APP_DFORM_FORMBUILDERSERVICE,QK.QAPP.Services" />
	
	
		<alias alias="IAPP_DFORM_FORMFIELDSERVICE" type="QK.QAPP.IServices.IAPP_DFORM_FORMFIELDSERVICE,QK.QAPP.IServices" />
	  <alias alias="APP_DFORM_FORMFIELDSERVICE" type="QK.QAPP.Services.APP_DFORM_FORMFIELDSERVICE,QK.QAPP.Services" />
	
	
		<alias alias="IAPP_DFORM_FORMINFOSERVICE" type="QK.QAPP.IServices.IAPP_DFORM_FORMINFOSERVICE,QK.QAPP.IServices" />
	  <alias alias="APP_DFORM_FORMINFOSERVICE" type="QK.QAPP.Services.APP_DFORM_FORMINFOSERVICE,QK.QAPP.Services" />
	
	
		<alias alias="IAPP_EXTEND_CONFIGSERVICE" type="QK.QAPP.IServices.IAPP_EXTEND_CONFIGSERVICE,QK.QAPP.IServices" />
	  <alias alias="APP_EXTEND_CONFIGSERVICE" type="QK.QAPP.Services.APP_EXTEND_CONFIGSERVICE,QK.QAPP.Services" />
	
	
		<alias alias="IAPP_EXTEND_RELATIONSERVICE" type="QK.QAPP.IServices.IAPP_EXTEND_RELATIONSERVICE,QK.QAPP.IServices" />
	  <alias alias="APP_EXTEND_RELATIONSERVICE" type="QK.QAPP.Services.APP_EXTEND_RELATIONSERVICE,QK.QAPP.Services" />
	
	
		<alias alias="IAPP_FILE_CHECKSERVICE" type="QK.QAPP.IServices.IAPP_FILE_CHECKSERVICE,QK.QAPP.IServices" />
	  <alias alias="APP_FILE_CHECKSERVICE" type="QK.QAPP.Services.APP_FILE_CHECKSERVICE,QK.QAPP.Services" />
	
	
		<alias alias="IAPP_FORBIDEN_AREASERVICE" type="QK.QAPP.IServices.IAPP_FORBIDEN_AREASERVICE,QK.QAPP.IServices" />
	  <alias alias="APP_FORBIDEN_AREASERVICE" type="QK.QAPP.Services.APP_FORBIDEN_AREASERVICE,QK.QAPP.Services" />
	
	
		<alias alias="IAPP_GLOBALCONFIGSERVICE" type="QK.QAPP.IServices.IAPP_GLOBALCONFIGSERVICE,QK.QAPP.IServices" />
	  <alias alias="APP_GLOBALCONFIGSERVICE" type="QK.QAPP.Services.APP_GLOBALCONFIGSERVICE,QK.QAPP.Services" />
	
	
		<alias alias="IAPP_JOBSERVICE" type="QK.QAPP.IServices.IAPP_JOBSERVICE,QK.QAPP.IServices" />
	  <alias alias="APP_JOBSERVICE" type="QK.QAPP.Services.APP_JOBSERVICE,QK.QAPP.Services" />
	
	
		<alias alias="IAPP_LOANSERVICE" type="QK.QAPP.IServices.IAPP_LOANSERVICE,QK.QAPP.IServices" />
	  <alias alias="APP_LOANSERVICE" type="QK.QAPP.Services.APP_LOANSERVICE,QK.QAPP.Services" />
	
	
		<alias alias="IAPP_MAINSERVICE" type="QK.QAPP.IServices.IAPP_MAINSERVICE,QK.QAPP.IServices" />
	  <alias alias="APP_MAINSERVICE" type="QK.QAPP.Services.APP_MAINSERVICE,QK.QAPP.Services" />
	
	
		<alias alias="IAPP_MSGBOXSERVICE" type="QK.QAPP.IServices.IAPP_MSGBOXSERVICE,QK.QAPP.IServices" />
	  <alias alias="APP_MSGBOXSERVICE" type="QK.QAPP.Services.APP_MSGBOXSERVICE,QK.QAPP.Services" />
	
	
		<alias alias="IAPP_MSGBOX_USERSERVICE" type="QK.QAPP.IServices.IAPP_MSGBOX_USERSERVICE,QK.QAPP.IServices" />
	  <alias alias="APP_MSGBOX_USERSERVICE" type="QK.QAPP.Services.APP_MSGBOX_USERSERVICE,QK.QAPP.Services" />
	
	
		<alias alias="IAPP_NR_LISTSERVICE" type="QK.QAPP.IServices.IAPP_NR_LISTSERVICE,QK.QAPP.IServices" />
	  <alias alias="APP_NR_LISTSERVICE" type="QK.QAPP.Services.APP_NR_LISTSERVICE,QK.QAPP.Services" />
	
	
		<alias alias="IAPP_QUEUESERVICE" type="QK.QAPP.IServices.IAPP_QUEUESERVICE,QK.QAPP.IServices" />
	  <alias alias="APP_QUEUESERVICE" type="QK.QAPP.Services.APP_QUEUESERVICE,QK.QAPP.Services" />
	
	
		<alias alias="IAPP_QUEUE_ASSESSSERVICE" type="QK.QAPP.IServices.IAPP_QUEUE_ASSESSSERVICE,QK.QAPP.IServices" />
	  <alias alias="APP_QUEUE_ASSESSSERVICE" type="QK.QAPP.Services.APP_QUEUE_ASSESSSERVICE,QK.QAPP.Services" />
	
	
		<alias alias="IAPP_SALESSERVICE" type="QK.QAPP.IServices.IAPP_SALESSERVICE,QK.QAPP.IServices" />
	  <alias alias="APP_SALESSERVICE" type="QK.QAPP.Services.APP_SALESSERVICE,QK.QAPP.Services" />
	
	
		<alias alias="IAPP_STAFF_ONLYSERVICE" type="QK.QAPP.IServices.IAPP_STAFF_ONLYSERVICE,QK.QAPP.IServices" />
	  <alias alias="APP_STAFF_ONLYSERVICE" type="QK.QAPP.Services.APP_STAFF_ONLYSERVICE,QK.QAPP.Services" />
	
	
		<alias alias="IFL_BIZSERVICE" type="QK.QAPP.IServices.IFL_BIZSERVICE,QK.QAPP.IServices" />
	  <alias alias="FL_BIZSERVICE" type="QK.QAPP.Services.FL_BIZSERVICE,QK.QAPP.Services" />
	
	
		<alias alias="IFL_LISTSERVICE" type="QK.QAPP.IServices.IFL_LISTSERVICE,QK.QAPP.IServices" />
	  <alias alias="FL_LISTSERVICE" type="QK.QAPP.Services.FL_LISTSERVICE,QK.QAPP.Services" />
	
	
		<alias alias="IPAD_CARJUDGESERVICE" type="QK.QAPP.IServices.IPAD_CARJUDGESERVICE,QK.QAPP.IServices" />
	  <alias alias="PAD_CARJUDGESERVICE" type="QK.QAPP.Services.PAD_CARJUDGESERVICE,QK.QAPP.Services" />
	
	
		<alias alias="IPRE_APP_AUTHSERVICE" type="QK.QAPP.IServices.IPRE_APP_AUTHSERVICE,QK.QAPP.IServices" />
	  <alias alias="PRE_APP_AUTHSERVICE" type="QK.QAPP.Services.PRE_APP_AUTHSERVICE,QK.QAPP.Services" />
	
	
		<alias alias="IPRE_APP_BANKCARDSERVICE" type="QK.QAPP.IServices.IPRE_APP_BANKCARDSERVICE,QK.QAPP.IServices" />
	  <alias alias="PRE_APP_BANKCARDSERVICE" type="QK.QAPP.Services.PRE_APP_BANKCARDSERVICE,QK.QAPP.Services" />
	
	
		<alias alias="IPRE_APP_CUSTOMERSERVICE" type="QK.QAPP.IServices.IPRE_APP_CUSTOMERSERVICE,QK.QAPP.IServices" />
	  <alias alias="PRE_APP_CUSTOMERSERVICE" type="QK.QAPP.Services.PRE_APP_CUSTOMERSERVICE,QK.QAPP.Services" />
	
	
		<alias alias="IPRE_APP_JOBSERVICE" type="QK.QAPP.IServices.IPRE_APP_JOBSERVICE,QK.QAPP.IServices" />
	  <alias alias="PRE_APP_JOBSERVICE" type="QK.QAPP.Services.PRE_APP_JOBSERVICE,QK.QAPP.Services" />
	
	
		<alias alias="IPRE_APP_LOANSERVICE" type="QK.QAPP.IServices.IPRE_APP_LOANSERVICE,QK.QAPP.IServices" />
	  <alias alias="PRE_APP_LOANSERVICE" type="QK.QAPP.Services.PRE_APP_LOANSERVICE,QK.QAPP.Services" />
	
	
		<alias alias="IPRE_APP_MAINSERVICE" type="QK.QAPP.IServices.IPRE_APP_MAINSERVICE,QK.QAPP.IServices" />
	  <alias alias="PRE_APP_MAINSERVICE" type="QK.QAPP.Services.PRE_APP_MAINSERVICE,QK.QAPP.Services" />
	
	
		<alias alias="IPRE_APP_STAFF_ONLYSERVICE" type="QK.QAPP.IServices.IPRE_APP_STAFF_ONLYSERVICE,QK.QAPP.IServices" />
	  <alias alias="PRE_APP_STAFF_ONLYSERVICE" type="QK.QAPP.Services.PRE_APP_STAFF_ONLYSERVICE,QK.QAPP.Services" />
	
	
		<alias alias="IV_APPMAINSERVICE" type="QK.QAPP.IServices.IV_APPMAINSERVICE,QK.QAPP.IServices" />
	  <alias alias="V_APPMAINSERVICE" type="QK.QAPP.Services.V_APPMAINSERVICE,QK.QAPP.Services" />
	
	
		<alias alias="IV_PRE_APPMAINSERVICE" type="QK.QAPP.IServices.IV_PRE_APPMAINSERVICE,QK.QAPP.IServices" />
	  <alias alias="V_PRE_APPMAINSERVICE" type="QK.QAPP.Services.V_PRE_APPMAINSERVICE,QK.QAPP.Services" />
	
	<container>      
		<register type="IQFUserService" mapTo="QFUserService" />
    <register type="IQFUploadService" mapTo="QFUploadService" />
    <register type="ICR_DATA_DICService" mapTo="CR_DATA_DICService" />
    <register type="IStaffPickService" mapTo="StaffPickService" />
    <register type="IQFProductInfoService" mapTo="QFProductInfoService" />
    <register type="IAPP_APPLY_SEQUENCEService" mapTo="APP_APPLY_SEQUENCEService" />
    <register type="IApplicationService" mapTo="ApplicationService" />
    <register type="IApplyTableService" mapTo="ApplyTableService" />
    <register type="IAPPQueueLogService" mapTo="APPQueueLogService" />
    <register type="IAPP_BANKSERVICE" mapTo="APP_BANKSERVICE" />
    		<register type="IAPP_AEOSERVICE" mapTo="APP_AEOSERVICE" />

		<register type="IAPP_APPLY_SEQUENCESERVICE" mapTo="APP_APPLY_SEQUENCESERVICE" />

		<register type="IAPP_AUTHSERVICE" mapTo="APP_AUTHSERVICE" />

		<register type="IAPP_BANKCARDSERVICE" mapTo="APP_BANKCARDSERVICE" />

		<register type="IAPP_CARAGENCYSERVICE" mapTo="APP_CARAGENCYSERVICE" />

		<register type="IAPP_CARINFOSERVICE" mapTo="APP_CARINFOSERVICE" />

		<register type="IAPP_CARPRICESERVICE" mapTo="APP_CARPRICESERVICE" />

		<register type="IAPP_CARVALUATORSSERVICE" mapTo="APP_CARVALUATORSSERVICE" />

		<register type="IAPP_CITYSERVICE" mapTo="APP_CITYSERVICE" />

		<register type="IAPP_CONTACTSERVICE" mapTo="APP_CONTACTSERVICE" />

		<register type="IAPP_CUSTOMERSERVICE" mapTo="APP_CUSTOMERSERVICE" />

		<register type="IAPP_DFORM_FIELDATTRIBUTESERVICE" mapTo="APP_DFORM_FIELDATTRIBUTESERVICE" />

		<register type="IAPP_DFORM_FORMBUILDERSERVICE" mapTo="APP_DFORM_FORMBUILDERSERVICE" />

		<register type="IAPP_DFORM_FORMFIELDSERVICE" mapTo="APP_DFORM_FORMFIELDSERVICE" />

		<register type="IAPP_DFORM_FORMINFOSERVICE" mapTo="APP_DFORM_FORMINFOSERVICE" />

		<register type="IAPP_EXTEND_CONFIGSERVICE" mapTo="APP_EXTEND_CONFIGSERVICE" />

		<register type="IAPP_EXTEND_RELATIONSERVICE" mapTo="APP_EXTEND_RELATIONSERVICE" />

		<register type="IAPP_FILE_CHECKSERVICE" mapTo="APP_FILE_CHECKSERVICE" />

		<register type="IAPP_FORBIDEN_AREASERVICE" mapTo="APP_FORBIDEN_AREASERVICE" />

		<register type="IAPP_GLOBALCONFIGSERVICE" mapTo="APP_GLOBALCONFIGSERVICE" />

		<register type="IAPP_JOBSERVICE" mapTo="APP_JOBSERVICE" />

		<register type="IAPP_LOANSERVICE" mapTo="APP_LOANSERVICE" />

		<register type="IAPP_MAINSERVICE" mapTo="APP_MAINSERVICE" />

		<register type="IAPP_MSGBOXSERVICE" mapTo="APP_MSGBOXSERVICE" />

		<register type="IAPP_MSGBOX_USERSERVICE" mapTo="APP_MSGBOX_USERSERVICE" />

		<register type="IAPP_NR_LISTSERVICE" mapTo="APP_NR_LISTSERVICE" />

		<register type="IAPP_QUEUESERVICE" mapTo="APP_QUEUESERVICE" />

		<register type="IAPP_QUEUE_ASSESSSERVICE" mapTo="APP_QUEUE_ASSESSSERVICE" />

		<register type="IAPP_SALESSERVICE" mapTo="APP_SALESSERVICE" />

		<register type="IAPP_STAFF_ONLYSERVICE" mapTo="APP_STAFF_ONLYSERVICE" />

		<register type="IFL_BIZSERVICE" mapTo="FL_BIZSERVICE" />

		<register type="IFL_LISTSERVICE" mapTo="FL_LISTSERVICE" />

		<register type="IPAD_CARJUDGESERVICE" mapTo="PAD_CARJUDGESERVICE" />

		<register type="IPRE_APP_AUTHSERVICE" mapTo="PRE_APP_AUTHSERVICE" />

		<register type="IPRE_APP_BANKCARDSERVICE" mapTo="PRE_APP_BANKCARDSERVICE" />

		<register type="IPRE_APP_CUSTOMERSERVICE" mapTo="PRE_APP_CUSTOMERSERVICE" />

		<register type="IPRE_APP_JOBSERVICE" mapTo="PRE_APP_JOBSERVICE" />

		<register type="IPRE_APP_LOANSERVICE" mapTo="PRE_APP_LOANSERVICE" />

		<register type="IPRE_APP_MAINSERVICE" mapTo="PRE_APP_MAINSERVICE" />

		<register type="IPRE_APP_STAFF_ONLYSERVICE" mapTo="PRE_APP_STAFF_ONLYSERVICE" />

		<register type="IV_APPMAINSERVICE" mapTo="V_APPMAINSERVICE" />

		<register type="IV_PRE_APPMAINSERVICE" mapTo="V_PRE_APPMAINSERVICE" />

    </container>
  </unity>
</configuration>

