
@{
	ViewBag.Title = "Login";
}

<form action="/Home/Login" method="post">
	<div>
		LBS001
	</div>
	<dl>
		<dt>Name</dt>
		<dd><input type="text" name="txtName" /></dd>
		<dt>Password</dt>
		<dd><input type="password" name="txtPassword" /></dd>
		<dt>
			<input type="submit" value="Sumbit" />
		</dt>
	</dl>
</form>