<script src="~/Content/assets/js/jqGrid/jquery.jqGrid.min.js"></script>
<script src="~/Content/assets/js/jqGrid/i18n/grid.locale-en.js"></script>
<script src="~/Content/assets/js/jquery-ui-1.10.3.full.min.js"></script>
@*<script src="~/Content/assets/js/date-time/datepicker-zh-TW.js"></script>*@
<link href="~/Content/assets/css/jquery-ui-1.10.3.full.min.css" rel="stylesheet" />
<link href="~/Content/assets/css/ui.jqgrid.css" rel="stylesheet" />
<link href="~/Content/assets/css/ace.min.css" rel="stylesheet" />
<script src="~/Content/assets/js/bootstrap-tooltip.js"></script>
<div class="row-fluid">
    <div>
        <div class="widget-box">
            <div class="widget-header widget-header-blue widget-header-flat">
                <h4 class="lighter">预申请管理</h4>
            </div>
            <div class="widget-body" style="height:auto; overflow-y:auto;width:auto;">
                <div class="widget-main">
                    <div id="Apply_highSearch" style="display:none">
                        <div class="form-group">
                            <div class="clearfix">
                                <span class="control-label col-xs-12 col-sm-2">预申请单号：</span>
                                <div class="col-xs-12 col-sm-3">
                                    <input type="text" name="txtPreAppNumber" id="txtPreAppNumber" class="col-xs-12" />
                                </div>
                                <span class="control-label col-xs-12 col-sm-2">客户姓名：</span>
                                <div class="col-xs-12 col-sm-3">
                                    <input type="text" name="txtCustomerName" id="txtCustomerName" class="col-xs-12" />
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="clearfix">
                                <span class="control-label col-xs-12 col-sm-2">客户经理：</span>
                                <div class="col-xs-12 col-sm-3">
                                    <input type="text" name="txtSales" id="txtSales" class="col-xs-12" />
                                </div>
                                <span class="control-label col-xs-12 col-sm-2">客户手机：</span>
                                <div class="col-xs-12 col-sm-3">
                                    <input type="text" name="txtCustomerMobile" id="txtCustomerMobile" class="col-xs-12" />
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="clearfix">
                                <button class="btn btn-sm btn-success" onclick="javascript:doHighSearch();">
                                    <i class="icon-search nav-search-icon"></i>查询
                                </button>
                                <a href="javascript:;" onclick="javascript:showHighSearch();">隐藏高级查询↑</a>
                            </div>
                        </div>
                    </div>
                    <table id="grid-table"></table>

                    <div id="grid-pager"></div>


                </div>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">
    var grid_selector = "#grid-table";
    var pager_selector = "#grid-pager";
    var permissionButtons = @System.Web.Mvc.MvcHtmlString.Create(ViewData["Permission_Buttons"].ToString());
    var sortIndex="";
    var sortOrder="";

    jQuery(function () {
        //禁用页面回车键
        document.onkeypress = function(e) {
            e = e || window.event;
            if (e.keyCode == 13) {
                return false;
            }
        };

        /*为Search窗口添加搜索功能*/
        jQuery("#nav-search").removeClass("hide");
        jQuery(".input-icon").children("i").css("cursor", "pointer").click(function () { doNormalSearch(); });
        jQuery(".input-icon").children("#nav_search_input").keydown(function (e) {
            e=e||window.event;
            if (e.keyCode == 13) { jQuery(".input-icon").children("i").click()};
        });
        jQuery("<a/>").attr("href", "javascript:;").text("高级查询").attr("onclick", "javascript:showHighSearch();").addClass("label label-lg label-pink arrowed-right").attr("style","top:-2px;").appendTo(jQuery("#nav-search").children('.form-search'));

        /*侧边栏收放的时候重新计算内容宽度*/
        jQuery('#sidebar-collapse').click(function(){
            jQuery(window).resize();
        });
    });

    /*页面加载时按所有查询条件列出进件*/
    jQuery(grid_selector).jqGrid({
        url: '/PreApply/GetPreCarApplyList?menuCode=@ViewData["menuCode"]',
        datatype: "json",
        height: jQuery(window).height() - 293,
        width:jQuery('.widget-main').width(),
        autowidth: true,
        shrinkToFit: true,
        mtype: "POST",
        altRows: true,
        colNames: ['<i class="hidden-480 icon-book"></i> 预申请号','<i class="hidden-480 icon-globe"></i> 城市',
            '<i class="hidden-480 icon-user"></i> 姓名', '<i class="hidden-480 icon-user"></i> 客户身份证',
            '<i class="hidden-480 icon-calendar"></i> 申请时间', '<i class="hidden-480 icon-money"></i> 申请金额',
            '<i class="hidden-480 icon-time"></i> 办理状态', '<i class="hidden-480 icon-user"></i> 客户经理',
            '<i class="hidden-480 icon-cogs"></i> 业务办理'],

        colModel: [
            { name: 'APPCODE', index: 'APPCODE', width: "15%", sorttype: "int" },
            { name: 'APPCITYNAME', index: 'APPCITYNAME', width: "10%" ,
                formatter: function(cellvalue, options, rowObject) {
                    return rowObject.APPCITYNAME;
                }
            },
            { name: 'CUSTOMERNAME', index: 'CUSTOMERNAME', width: "7%", sorttype: "textarea" },
            { name: 'CUSTOMERIDCARD', index: 'CUSTOMERIDCARD', width: "14%", sorttype: "textarea" },
            { name: 'CREATEDTIME', index: 'CREATEDTIME', width: "8%", sorttype: "date", formatter: "date", formatoptions: { newformat: 'Y-m-d' } },
            { name: 'APPLYAMT', index: 'APPLYAMT', width: "8%" },
            { name: 'SORTING', index: 'SORTING', width: "9%" ,
                formatter: function(cellvalue, options, rowObject) {
                    return '<span class="label label label-success">'+rowObject.APPSTATUSNAME+'</span>';
                }
            },
            { name: 'SALESNAME', index: 'SALESNAME', width: "9%" },
            {
                name: 'LOGO', index: 'LOGO', width: "10%", sortable: false,
                formatter: function (cellvalue, options, rowObject) {
                    var re = "";
                    var status = rowObject.APPSTATUS;
                    var appId=rowObject.APPID;
                    for(i=0;i< permissionButtons.length;i++)
                    {
                        re += "<a style='margin-right:5px;' ";
                        if(status == "PRE_APPROK")
                        {
                            if (permissionButtons[i].Control_ID == "loan_apply")
                            {
                                if('@ViewData["menuCode"]' == 'GJVEHICLE'){
                                    re += "title='申请进件' href='/PreApplication/PreGJCarApplication?preAppId=" + appId + "' >";
                                }
                                else{
                                    re += "title='申请进件' href='/PreApplication/PreCarApplication?preAppId=" + appId + "' >";
                                }
                            }
                        }
                        re += "<img src='" + permissionButtons[i].Img + "' />";
                        re += "</a>";
                    }
                    return re;
                }
            }
        ],
        jsonReader: {
            root: "ListEnter",
            total: "TotalPages",
            page: "CurrentPage",
            records: "TotalRecords",
            repeatitems: false
        },
        viewrecords: true,
        rowNum: 20,
        rowList: [10, 20, 30],
        pager: pager_selector,
        onSortCol:function (colName,iCol,sortorder) {
            sortIndex=colName;
            sortOrder=sortorder;
        },
        beforeRequest:function () {
            jQuery(grid_selector).jqGrid('setGridParam', {postData:{'sidx':sortIndex,'sord':sortOrder}} );},
        loadComplete: function () {
            var table = this;
            var re_records = jQuery(this).getGridParam('records');
            if(re_records == 0 || re_records == null){
                Utilities.alertTip("对不起，未找到符合条件的记录！");
            };
            setTimeout(function () {
                updatePagerIcons(table);
                jQuery('.ui-jqgrid-bdiv').css("overflow-x","hidden");
            }, 0);
            jQuery(window).resize();
        },
    });
    function updatePagerIcons(table) {
        var replacement =
        {
            'ui-icon-seek-first': 'icon-double-angle-left bigger-140',
            'ui-icon-seek-prev': 'icon-angle-left bigger-140',
            'ui-icon-seek-next': 'icon-angle-right bigger-140',
            'ui-icon-seek-end': 'icon-double-angle-right bigger-140'
        };
        $('.ui-pg-table:not(.navtable) > tbody > tr > .ui-pg-button > .ui-icon').each(function() {
            var icon = $(this);
            var $class = $.trim(icon.attr('class').replace('ui-icon', ''));

            if ($class in replacement) icon.attr('class', 'ui-icon ' + replacement[$class]);
        });
    };

    /* 显示或隐藏高级搜索块*/
    function showHighSearch() {
        jQuery("#Apply_highSearch").toggle(300,function(){jQuery(window).resize()});
    };

    /*Search窗口模糊查询*/
    function doNormalSearch() {
        sortIndex='';
        sortOrder='';

        jQuery("#Apply_highSearch").find("input[type='text']").each(function () {
            jQuery(this).val("");
        });
        jQuery("#Apply_highSearch").find("select").each(function () {
            jQuery(this).val("");
        });

        para = {
            sidx:sortIndex,
            preAppCode: escape(jQuery("#nav_search_input").val()),
            customerName: escape(jQuery("#nav_search_input").val()),
            sales: '',
            customerMobile: '',
            fuzzySearch: 1,/*模糊查询*/
            needTag:0
        };
        jQuery(grid_selector).jqGrid('setGridParam', {
            datatype: 'json',
            page:1,
            postData: para  /*发送数据 */
        }).trigger("reloadGrid"); /*重新载入  */
    }

    /*点击搜索按钮重新搜索*/
    function doHighSearch() {
        sortOrder="";
        sortIndex="";
        jQuery("#nav_search_input").val('');
        para = {
            sidx:sortIndex,
            preAppCode: escape(jQuery("#txtPreAppNumber").val()),
            customerName: escape(jQuery("#txtCustomerName").val()),
            sales: escape(jQuery("#txtSales").val()),
            customerMobile: escape(jQuery("#txtCustomerMobile").val()),
            fuzzySearch: 0,/*取消模糊查询*/
            needTag:0
        };
        jQuery(grid_selector).jqGrid('setGridParam', {
            datatype: 'json',
            page:1,
            postData: para  /*发送数据 */
        }).trigger("reloadGrid"); /*重新载入  */

    }

    jQuery(window).resize(function(){
        jQuery(window).unbind("onresize");
        jQuery(grid_selector).setGridHeight(jQuery(window).height() - 293);
        jQuery(grid_selector).setGridWidth(jQuery('.widget-main').width());

        jQuery(grid_selector).setGridHeight(jQuery(window).height() - 293);
        jQuery(grid_selector).setGridWidth(jQuery('.widget-main').width());

        jQuery('.ui-jqgrid-hbox').each(function(){
            jQuery(this).find('th').last().css('width',(jQuery(this).find('th').last().width()+ 25) + 'px');
        });
        jQuery(window).bind("onresize", this);
    });
</script>

