<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </configSections>
  <system.diagnostics>
    <!-- 跟踪的源 -->
    <sources>
      <source name="LogTrace" switchName="LogTraceSourceSwitch" switchType="System.Diagnostics.SourceSwitch" >
        <listeners>
          <add name="textListener" />
          <remove name ="Default" />
        </listeners>
      </source>
    </sources>
    <!-- 控制跟踪输出 -->
    <switches>
      <!-- 侦听的全局级别, 对所有的侦听器有效 -->
      <add name="LogTraceSourceSwitch" value="All" />
      <!-- 可以关闭全局侦听 -->
      <!--<add name="LogTraceSourceSwitch" value="Off" ></add>-->
    </switches>
    <!-- 侦听器 -->
    <sharedListeners>
      <add name="textListener" type="System.Diagnostics.XmlWriterTraceListener"  initializeData="D:\myTraceDome4.xml">
        <!--设定特定侦听器的监听级别-->
        <filter type="System.Diagnostics.EventTypeFilter" initializeData="Information"/>
      </add>
    </sharedListeners>
    <!-- 侦听设置 -->
    <trace autoflush="true" indentsize="4" />
  </system.diagnostics>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework"/>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="DbContext" connectionString="Data Source=QF-XGZHANG-01\SQLEXPRESS; Database=DbContext; User ID=sa; Password=Password@1;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
  <runtime>
    <disableCachingBindingFailures enabled="1" />
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <!--qualifyAssembly 通知去GAC寻找-->
      <!--<qualifyAssembly partialName="CLR" fullName="CLR, Version=2.0.0.0, Culture=neutral, PublicKeyToken=9bcc9a282fca3818"/>-->
      <!--<probing privatePath="32,64" />
      <dependentAssembly>
        <assemblyIdentity type='win32' name='CLR' version='3.0.0.0'  publicKeyToken='9bcc9a282fca3818' />
        <codeBase version="3.0.0.0" href="file:///D:/FrameWork4.0TestDemo/UnitDemo/bin/Debug/32/CLR.exe" />
        <bindingRedirect oldVersion="2.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>-->
    </assemblyBinding>
  </runtime>
</configuration>
